@font-face {
    font-family: IBM;
    src: url('3270SemiNarrow.ttf'); 
}
h1{color: #F8FFF4; font-family: IBM; font-weight: lighter; background-color: #003049; padding: 1%; margin-left: -1%; margin-right: -1%; text-align: center;}
body{background-color: #F8FFF4; font-family: 'Courier New', Courier, monospace;}
#Indicie{margin-top: -1%;}
#div1{float: right;}
#div2{float: left;}
#list{margin-left: -10%; text-align:left;}
#div3{display: inline-block; width: 80%;}
.Destaque{font-family: IBM; font-size: 125%;}